/* Set Times New Roman as the default font */
body {
    font-family: "Times New Roman", Times, serif;
}

/* Toggle switch styling */
.dot {
    transition: all 0.3s ease-in-out;
}

#sound-toggle:checked ~ .dot {
    transform: translateX(1.75rem);
}

/* Custom slider styling */
input[type="range"] {
    -webkit-appearance: none;
    height: 8px;
    border-radius: 8px;
    background: #edf2f7;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background:rgb(33, 114, 207);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(16, 136, 233, 0.3);
    transition: all 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.15);
    background: #39a3f7;
    box-shadow: 0 0 10px rgba(16, 136, 233, 0.4);
}

/* Pulse effect */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(251, 191, 36, 0.3);
    }
    70% {
        box-shadow: 0 0 0 8px rgba(251, 191, 36, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(251, 191, 36, 0);
    }
}

.pulse-effect {
    animation: pulse 1s ease-out;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .md\:flex-row {
        flex-direction: column;
    }
    .md\:w-3\/5, .md\:w-2\/5 {
        width: 100%;
    }
}